<div class="controller" ng-controller="aboutController as AC" >
  <ul class="no-padding modules col s12 m8 offset-s0 offset-m3 row ">
      <li class="module card content no-padding col s12 " ng-repeat="project in AC.projects">
        <div class="row module-content">
          <div class="module-left col s12 l5">
            <div class="card-content">
              <h4 class="card-title" ng-bind="project.title"></h4>
              <p ng-bind="project.abstract"></p>
            </div>
          </div>
          <div class="card-image module-right no-padding col s12 l7 valign-wrapper">
            <img class="module-img col s12 no-padding valign" src="{{project.image}}" alt='{{project.image}}' />
          </div>
        </div>
        <div class="card-action">
          <a ng-repeat="link in project.links" class="teal-text btn-flat waves-effect" href="{{link.url}}"><span ng-bind="link.title"></span></a>
        </div>
      </li>
  </ul>
</div>
