<div class="controller" ng-controller="aboutController as AC" >
  <ul class="no-padding modules col s12 row">

    <li class="module card content no-padding col s12 offset-m3 m8">
        <div class="card-content module-left col s12 l4">
          <h4 class="card-title">About</h4>

          <p class="">Junior full-stack web developer with a strong interest in client-facing code. </p>
          <br>
          <p class=""> Collaborator, project manager, strong communicator.</p>
          <br>
          <p class="">Has a strong desire to work with teams that are driven to design and develop great user experiences.</p>
        </div>
        <div class="card-image module-right no-padding col s12 l8 valign-wrapper">
          <img class="module-img col s12 no-padding valign" src="/img/erick.jpg" alt="beach" />
        </div>
    </li>
    <li class="module card content no-padding col s12 offset-m3 m8">
        <div class="card-content module-left col s12 l4">
          <h4 class="card-title">In Development</h4>

          <p class="">Awesome Projects to be found here soon!!</p>

        </div>
        <div class="card-image module-right no-padding col s12 l8 valign-wrapper" >
          <img class="module-img col s12 no-padding valign" src="/img/beach.jpg" alt="beach" />
        </div>
    </li>


  </ul>

</div>
