<div class="controller" ng-controller="projectsController as PC">
    <ul class="no-padding modules col s12 row">
      <li ng-repeat="project in PC.projects">
        <div class="module card content no-padding col s12 offset-m3 m8" >
          <div class="row module-content">
            <div class="module-left col s12 l5">
              <div class="card-content">
                <h4 class="card-title" ng-bind="project.title"></h4>
                <p ng-bind="project.abstract"></p>
              </div>
            </div>
            <div class="card-image module-right no-padding col s12 l7 valign-wrapper">
              <img class="module-img col s12 no-padding valign" src="{{project.image}}" alt='{{project.image}}' />
            </div>
          </div>
          <div class="card-action">
            <a ng-repeat="link in project.links" class="teal-text btn-flat waves-effect" href="{{link.url}}"><span ng-bind="link.title"></span></a>
          </div>
        </div>
      </li>
    </ul>
</div>
