<div class="controller" ng-controller="projectsController as PC">
    <!-- {{PC}} -->
    <!-- <h1>design</h1> -->
    <ul class="no-padding modules col s12 row">

      <li class="module card content no-padding col s12 offset-l3 l8">
          <div class="card-content module-left col s12 l4">
            <h4 class="card-title">In Development</h4>

            <p class="">Awesome Projects to be found here soon!!</p>

          </div>
          <div class="card-image module-right no-padding col s12 l8">
            <img class="module-img col s12 no-padding" src="/img/beach.jpg" alt="beach" />
          </div>
      </li>

    </ul>

</div>
