<div class="controller" ng-controller="projectsController as PC">
    <!-- {{PC}} -->
    <!-- <h1>design</h1> -->
    <ul class="no-padding modules col s12 row">

      <li class="module card content no-padding col s12 offset-m3 m8">
          <div class="row module-content">
            <div class="module-left col s12 l5">
              <div class="card-content no-padding">
                <h4 class="card-title">Kitshare</h4>
                <p class="">Ruby-on-rails equipment list sharing site. </p><br>
                <p>Technologies: Rails, Google custom search API</p>
              </div>
            </div>

            <div class="card-image module-right no-padding col s12 l7 valign-wrapper" >
              <img class="module-img col s12 no-padding valign" src="/img/kitshare.png" alt="Kitshare website image" />
            </div>
          </div>
          <div class="card-action">
            <a class="teal-text btn-flat waves-effect" href="https://github.com/berryerick/Kitshare">github</a>
            <a class="teal-text btn-flat waves-effect" href="http://kitshare.tk/" >Kitshare.tk</a>
          </div>
      </li>
      <li class="module card no-padding col s12 offset-m3 m8">
        <div class="row module-content">

          <div class="module-left col s12 l5">
            <div class="card-content no-padding">
              <h4 class="card-title">Portfolio</h4>
              <p class="">MEAN responsive site for displaying project.</p><br>
              <!-- <p class="">Project goal was to learn more about designing and building responsive applications</p><br> -->
              <p class="">Technologies: Materialize CSS, MEAN </p>
            </div>
          </div>
          <div class="card-image module-right valign-wrapper" >
            <img class="module-img col s12 valign" src="/img/portfolio.png" alt="Kitshare website image" />
          </div>
        </div>
        <div class="card-action">
          <a class="teal-text btn-flat waves-effect" href="https://github.com/berryerick/portfolio">github</a>
        </div>
      </li>

    </ul>

</div>
