
body{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

}

h5{
  font-weight: 300;
  font-variant: small-caps;
}

nav#fixed-nav{
  position: absolute;
  z-index: 3;
  min-width: 290px;
  min-height: 50px;
}

  div.main-title{
    padding-left: 15px;
    max-height: 100%;
    overflow: hidden;
  }
  #menu{
  }
  a.button-collapse{
    margin-right: 0;
  }
  #my-name{
    display: inline-block;
    font-weight: 200;
    max-height: 100%;
    margin: auto 0px;
  }
  #my-title{
    display: inline-block;
    font-weight: 300;
    font-variant: small-caps;
    padding-left: 10px;
    margin: 0;
  }
  #slide-out{
    z-index: 5;
  }
  .icons{
    width: 70%;
    margin: 5px auto;
  }
div.avatar{
  position: absolute;
  margin-top: 10vh;
  text-align: left;
}
  div.avatar img{
    /*min-width: 70px;*/
  }
#sidenav-overlay{
  position: relative;
  z-index: 1
}

div#main-content{
/*padding-top:*/
position: absolute;
width: 100vw;
height: 100vh;
}
nav{
  height: 8vh;
  min-height: 50px;
}
  .sidenav{
    margin-top: 30vh;
    position: absolute;
    border-radius: 0;
  }
    .nav-button{
      width: 100%;
      border-radius: none;
      margin: 0;
      padding: 10px;
      background: none;
      -webkit-transition: background .2s cubic-bezier(0.4, 0.0, 0.2, 1);;
      transition:         background .2s cubic-bezier(0.4, 0.0, 0.2, 1);;
    }
    .nav-button:hover{

      /*background-color: rgba(0, 0, 0, 0.1);*/
      background: rgba(0,0,0,0.1);
      /*background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0)));
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);*/
      /*background: linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);*/
      /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );*/

    }
    .active{
      background: rgba(255,255,255,0.3);
      background: -moz-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    }
ul.modules{
  height: 90vh;
  overflow-y: scroll;
  padding-top: 2vh !important;
}
.module{
  /*margin-top: 2vh;*/
  margin-bottom: 2vh !important;
  margin-top: 0;
  /*border-bottom: 1px solid rgba(160, 160, 160, 0.2);*/
  /*padding-bottom: 5vh !important;*/
}
  div.module-content{
    margin: 0;
  }
  div.module-left{}
    div.module-left p{
      white-space: pre-wrap;
    }
  .module div.module-right{
    /*max-height: 50vh;*/
    /*min-height: 350px;*/
    height: contain;
    overflow-y: hidden;
    vertical-align: top;
  }
    img.module-img{
    }
